{% extends 'base.html' %}

{% block title %} Вылеты {% endblock %}

{% block body %}
    <!-- Коментарий --> 
    <h1>Полеты</h1>
    <form method="GET" action="{% url  'flights:date_filter'%}">
        <label>Фильтрация по дате</label>
        <input type="date" name="start_date" id="start_date">
        <fieldset>
            <input type="radio" id="gte" name="filter_type" value="gte" checked>
            <label>После указанной даты</label>
            <input type="radio" id="lte" name="filter_type" value="lte">
            <label>До указанной даты</label>
        </fieldset>
        <br>
        <button type="submit">Подтвердить</button>


    </form>

    <ul>
        {% for airport in airports %}
        {% if airport.image %}
            <img src="{{ airport.image.url }}" width='200' height='200'>
        {% endif %}
        <p>{{ airport }}</p>
              {% for flight in airport.get_arrivals %}
                <li> <a href="{% url 'flights:flight' flight.id %}"> {{flight}} </a> </li>
              {% endfor %}
        <br>
        {% endfor %}
    </ul>
{% endblock %}
